@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: 'Museo Sans Cyrl 500';
  color: #302783; }

a {
  text-decoration: none; }

/***** Museo *****/
@font-face {
  font-family: 'Museo Sans Cyrl 900';
  src: url("fonts/museo/MuseoSansCyrl-900.eot");
  src: local("MuseoSansCyrl-900"), url("fonts/museo/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("fonts/museo/MuseoSansCyrl-900.woff") format("woff"), url("fonts/museo/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("fonts/museo/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("fonts/museo/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("fonts/museo/MuseoSansCyrl-700.woff") format("woff"), url("fonts/museo/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("fonts/museo/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500"), url("fonts/museo/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("fonts/museo/MuseoSansCyrl-500.woff") format("woff"), url("fonts/museo/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/***** Fontello *****/
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?56246910");
  src: url("fonts/fontello.eot?56246910#iefix") format("embedded-opentype"), url("fonts/fontello.woff2?56246910") format("woff2"), url("fonts/fontello.woff?56246910") format("woff"), url("fonts/fontello.ttf?56246910") format("truetype"), url("fonts/fontello.svg?56246910#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56246910#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angle-down:before {
  content: '\f107'; }

/* '' */
.icon-angle-left:before {
  content: '\f104'; }

/* '' */
.icon-angle-right:before {
  content: '\f105'; }

/* '' */
/***** Header*****/
.top-nav {
  padding: 35px 15px 30px 15px;
  margin-bottom: 7px; }
  .top-nav_logo {
    display: block; }
    .top-nav_logo img {
      width: 246px;
      margin-right: 18px; }
  .top-nav_menu {
    list-style: none;
    padding: 0;
    display: flex; }
    .top-nav_menu > li {
      margin-right: 0; }
      .top-nav_menu > li:last-child {
        margin-right: 0; }
      .top-nav_menu > li > a {
        display: block;
        padding: 10px 15px 20px;
        text-decoration: none;
        color: #302783;
        font-family: 'Museo Sans Cyrl 700';
        font-size: 16px;
        font-weight: normal; }
        .top-nav_menu > li > a i {
          margin: 0; }
          .top-nav_menu > li > a i:before {
            margin: 0 4px 0 2px;
            width: 8px; }
        .top-nav_menu > li > a::after {
          content: '';
          display: block;
          width: 100%;
          height: 4px;
          background-color: #ffe400;
          transform: translateY(7px) scale(0);
          transition: all 0.2s; }
        .top-nav_menu > li > a:hover {
          text-decoration: none;
          color: #2c6ed2; }
          .top-nav_menu > li > a:hover::after {
            transform: translateY(7px) scale(1); }
      .top-nav_menu > li ul {
        display: none;
        position: absolute;
        list-style: none;
        background: #fff;
        z-index: 100;
        transition: all 0.2s;
        box-shadow: 0 9px 19px 1px rgba(48, 39, 131, 0.5); }
        .top-nav_menu > li ul li:first-child a {
          padding-top: 35px; }
        .top-nav_menu > li ul li:last-child a {
          padding-bottom: 35px; }
        .top-nav_menu > li ul li a {
          display: block;
          padding: 10px 30px;
          text-decoration: none;
          color: #302783;
          font-family: 'Museo Sans Cyrl 700';
          font-size: 16px;
          font-weight: normal;
          transition: all 0.2s; }
          .top-nav_menu > li ul li a::after {
            position: absolute;
            content: '';
            display: block;
            width: 5px;
            height: 4px;
            background-color: #ffe400;
            transform: translate(-30px, -10px) scale(0);
            transition: all 0.2s; }
          .top-nav_menu > li ul li a:hover {
            transition: all 0.2s; }
            .top-nav_menu > li ul li a:hover::after {
              display: block;
              transform: translate(-40px, -10px) scale(1);
              width: 30px; }
        .top-nav_menu > li ul li a:hover {
          transform: translateX(10px);
          color: #2c6ed2; }
    .top-nav_menu li:hover ul {
      display: block; }
  .top-nav_phone {
    display: block;
    padding-top: 4px;
    text-decoration: none;
    font-size: 22px;
    font-family: "Museo Sans Cyrl 700";
    font-weight: normal;
    color: #302783; }
  .top-nav .mobile {
    display: none; }

/***** Slick slider *****/
.slider_wrap {
  max-width: 1200px; }

.slick-arrow-new {
  position: absolute;
  top: 187px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border-style: none;
  background-color: #fff;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
  z-index: 100;
  outline: none; }
  .slick-arrow-new:hover {
    color: #ffe400; }

.slick-prev-new {
  left: -9px;
  text-align: right; }

.slick-next-new {
  right: -7px;
  text-align: left; }

.new-dots {
  position: absolute;
  list-style: none;
  width: 100%;
  bottom: -30px;
  text-align: center; }
  .new-dots li {
    display: inline-block; }
    .new-dots li button {
      font-size: 0;
      line-height: 0;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border: none;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      background-color: #000000;
      opacity: 0.2; }
  .new-dots .slick-active button {
    background-color: #302783;
    opacity: 1; }

/***** Production and services *****/
.production .title, .services .title {
  height: 52px;
  color: #302783;
  font-family: "Museo Sans Cyrl 500";
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  margin-bottom: 87px;
  margin-top: 50px; }

.production ul, .services ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between; }
  .production ul li, .services ul li {
    margin-bottom: 75px; }
    .production ul li a, .services ul li a {
      display: block;
      max-width: 373px;
      text-decoration: none;
      position: relative; }
      .production ul li a svg, .services ul li a svg {
        max-height: 73px;
        max-width: 73px;
        fill: #302783; }
      .production ul li a span, .services ul li a span {
        display: inline-block;
        color: #302783;
        font-family: "Museo Sans Cyrl 500";
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        vertical-align: top;
        width: 74%;
        margin-left: 15px; }
      .production ul li a::before, .services ul li a::before {
        content: "";
        position: absolute;
        width: 106px;
        height: 106px;
        background-color: #ffe400;
        border-radius: 50%;
        z-index: -1;
        top: -12px; }
      .production ul li a:hover span, .services ul li a:hover span {
        color: #2c6ed2; }
      .production ul li a:hover svg, .services ul li a:hover svg {
        fill: #2c6ed2; }

.production {
  margin-bottom: 42px; }

/***** Advantages *****/
.advantages {
  margin-bottom: 30px; }
  .advantages-wrap {
    height: 363px;
    padding: 41px 49px;
    background: url(images/worker.png) no-repeat 96%, linear-gradient(to right, #302783 65%, #ffe400 65%); }
    .advantages-wrap .title {
      color: #ffffff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 56px;
      font-weight: 400;
      line-height: 51px;
      margin-bottom: 38px; }
    .advantages-wrap ul {
      list-style: none; }
      .advantages-wrap ul li {
        color: #ffffff;
        font-family: "Museo Sans Cyrl 500";
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 10px; }
        .advantages-wrap ul li::before {
          content: url(icons/check.svg);
          margin-right: 30px; }

/***** Services *****/
.services {
  margin-bottom: 65px; }

/***** Request *****/
.request {
  margin-bottom: 100px;
  background: linear-gradient(75deg, #302783 53%, #ffe400 53%); }
  .request-wrap {
    background: linear-gradient(75deg, #302783 53%, #ffe400 53%);
    width: 100%;
    height: 420px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .request-wrap img {
      position: absolute;
      left: 44%;
      top: -19%; }
    .request-wrap .title {
      color: #ffffff;
      font-family: "Museo Sans Cyrl 500";
      font-size: 72px;
      font-weight: 400;
      line-height: 72px;
      padding-left: 10px; }
    .request-wrap form {
      padding: 30px 67px 10px 10px; }
      .request-wrap form .input-box {
        position: relative;
        background-color: #ffffff; }
        .request-wrap form .input-box-name {
          margin: 0 0 10px; }
        .request-wrap form .input-box-tel {
          margin: 0 0 10px; }
        .request-wrap form .input-box input {
          position: relative;
          background: transparent;
          display: block;
          width: 320px;
          height: 60px;
          border-radius: 5px;
          border: none;
          outline: none;
          padding-left: 20px;
          padding-top: 15px;
          font-family: "Museo Sans Cyrl 500";
          font-size: 18px;
          font-weight: 400; }
        .request-wrap form .input-box label {
          position: absolute;
          color: #302783;
          font-family: "Museo Sans Cyrl 500";
          font-size: 18px;
          font-weight: 400;
          line-height: 55px;
          transition: .5s;
          padding-left: 20px; }
        .request-wrap form .input-box.focus label {
          transform: translateY(-10px);
          font-size: 14px; }
      .request-wrap form input[type="checkbox"] {
        display: none; }
        .request-wrap form input[type="checkbox"] + label {
          position: relative;
          padding-left: 30px; }
          .request-wrap form input[type="checkbox"] + label:hover {
            cursor: pointer; }
          .request-wrap form input[type="checkbox"] + label::before {
            content: "";
            display: inline-block;
            position: absolute;
            height: 20px;
            width: 20px;
            border-radius: 3px;
            background-color: #fff;
            left: -1px; }
        .request-wrap form input[type="checkbox"] ~ span {
          color: #302783;
          font-family: "Museo Sans Cyrl 500";
          font-size: 13px;
          font-weight: 400; }
          .request-wrap form input[type="checkbox"] ~ span a {
            text-decoration: underline;
            color: #302783;
            font-family: "Museo Sans Cyrl 500";
            font-size: 13px;
            font-weight: 400; }
            .request-wrap form input[type="checkbox"] ~ span a:hover {
              text-decoration: none; }
        .request-wrap form input[type="checkbox"]:checked + label::before {
          background: url("icons/checked.png") no-repeat center #fff; }
      .request-wrap form input[type="submit"] {
        width: 320px;
        height: 60px;
        border-radius: 5px;
        border: 2px solid #302783;
        margin-top: 17px;
        background-color: #ffe400;
        color: #302783;
        font-family: "Museo Sans Cyrl 500";
        font-size: 18px;
        font-weight: 400; }
        .request-wrap form input[type="submit"]:hover {
          background: #302783;
          color: #fff;
          cursor: pointer; }

/***** Seosection *****/
.seosection {
  margin-bottom: 100px;
  height: 423px; }
  .seosection .seotext {
    height: 370px;
    font-family: "Museo Sans Cyrl 500";
    font-size: 16px;
    font-weight: 400;
    color: #302783;
    padding: 25px 70px 0 0; }
    .seosection .seotext h1 {
      font-family: "Museo Sans Cyrl 700";
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 15px; }
    .seosection .seotext p {
      font-family: "Museo Sans Cyrl 500";
      line-height: 24px;
      margin-bottom: 15px; }
  .seosection .seowindow {
    background: url(images/window.png);
    height: 425px;
    margin-left: -30px; }

#seoscroll {
  position: relative;
  height: 400px; }

/***** Footer *****/
footer {
  background-color: #f4f4f4; }

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 36px;
  grid-column-gap: 30px;
  padding-top: 30px;
  justify-content: space-between; }
  .footer h3 {
    color: #302783;
    font-family: "Museo Sans Cyrl 900";
    font-size: 18px;
    margin-bottom: 5px; }
  .footer ul {
    list-style: none;
    font-size: 16px; }
    .footer ul li {
      margin-bottom: 8px; }
    .footer ul a:hover {
      color: #2c6ed2; }
    .footer ul address {
      font-style: normal; }
  .footer .legal a, .footer .legal p {
    color: #a0a0a0;
    font-size: 14px; }
  .footer .legal a svg {
    fill: #a0a0a0;
    vertical-align: middle; }
  .footer .made-by {
    grid-column: 4/5; }

/* media */
@media (min-width: 1200px) {
  .container, .row {
    max-width: 1200px; } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 768px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 576px) {
  img {
    max-width: 100%; }
  .no-padding {
    padding: 0; }
  .top-nav {
    padding: 17px 15px 13px 15px;
    margin: 0; }
    .top-nav .row {
      overflow: hidden; }
    .top-nav_logo img {
      width: 145px; }
    .top-nav_menu {
      display: block;
      background: #cdd;
      transform: translateX(100%);
      transition: 1s;
      height: 0; }
      .top-nav_menu ul {
        transform: translateX(100%);
        transition: 1s; }
      .top-nav_menu.open {
        transform: translateX(0);
        height: auto; }
        .top-nav_menu.open ul {
          transform: translateX(0); }
      .top-nav_menu li a {
        position: relative; }
        .top-nav_menu li a i {
          position: absolute;
          right: 0;
          transform: rotate(-90deg); }
    .top-nav_phone {
      display: none; }
    .top-nav .mobile {
      display: block; }
      .top-nav .mobile-tel {
        position: absolute;
        right: 50px; }
        .top-nav .mobile-tel svg {
          fill: #302783;
          width: 19px;
          height: 19px; }
      .top-nav .mobile-btn {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: -2px;
        top: -12px;
        -webkit-tap-highlight-color: transparent; }
        .top-nav .mobile-btn span {
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 50%;
          margin-left: -10px;
          background: #302783;
          width: 20px;
          height: 2px; }
          .top-nav .mobile-btn span::before {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: #302783;
            transform: translateY(7px);
            transition: .2s; }
          .top-nav .mobile-btn span::after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: #302783;
            transform: translateY(-9px);
            transition: .2s; }
        .top-nav .mobile-btn_active span {
          height: 0; }
          .top-nav .mobile-btn_active span::before {
            transform: rotate(-135deg) translateX(-1px); }
          .top-nav .mobile-btn_active span::after {
            transform: rotate(135deg) translateX(-2px); }
  .slider {
    overflow: hidden; }
  .new-dots {
    bottom: -10px; }
    .new-dots li button {
      width: 8px;
      height: 7px; }
  .production {
    margin-bottom: 15px; }
  .services {
    margin-bottom: 10px; }
  .production .title, .services .title {
    height: 25px;
    font-size: 26px;
    margin-bottom: 27px;
    margin-top: 0;
    line-height: 19px; }
  .production ul, .services ul {
    grid-template-columns: 1fr; }
    .production ul li, .services ul li {
      margin-bottom: 30px; }
      .production ul li a, .services ul li a {
        max-width: 373px; }
        .production ul li a svg, .services ul li a svg {
          height: 35px;
          width: 37px; }
        .production ul li a span, .services ul li a span {
          display: inline-block;
          font-size: 20px;
          margin-left: 32px;
          line-height: 30px; }
        .production ul li a::before, .services ul li a::before {
          width: 53px;
          height: 53px; }
  .advantages-wrap {
    height: 540px;
    padding: 15px 0 0 15px;
    background: url(images/bg320.jpg) no-repeat 0 100%, linear-gradient(to bottom, #302783 310px, #ffe400 310px); }
    .advantages-wrap .title {
      font-size: 26px;
      line-height: 51px;
      margin-bottom: 12px; }
    .advantages-wrap ul li {
      font-size: 18px;
      padding-bottom: 10px; }
      .advantages-wrap ul li::before {
        content: url(icons/check.svg);
        margin-right: 20px; }
      .advantages-wrap ul li:last-child span {
        display: block; }
      .advantages-wrap ul li span {
        color: #ffffff;
        padding-left: 38px; }
  .request {
    overflow: hidden;
    margin-bottom: 0; }
    .request-wrap {
      width: 100%;
      height: 497px;
      background: linear-gradient(175deg, #302783 37%, #ffe400 38%);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px; }
      .request-wrap img {
        transform: rotate(99deg) scale(1.2);
        height: calc(100vw + 86px);
        left: 27%;
        top: -117px;
        margin: auto;
        bottom: 0; }
      .request-wrap .title {
        color: #ffffff;
        font-family: "Museo Sans Cyrl 700";
        font-size: 32px;
        font-weight: 400;
        line-height: 37px;
        margin-left: 0;
        margin-bottom: 67px;
        text-align: center; }
      .request-wrap form {
        padding: 30px 10px 20px 10px;
        margin: 10px; }
        .request-wrap form .input-box {
          position: relative;
          background-color: #ffffff; }
          .request-wrap form .input-box-name {
            margin: 0 0 20px; }
          .request-wrap form .input-box-tel {
            margin: 0 0 10px; }
          .request-wrap form .input-box input {
            position: relative;
            background: transparent;
            display: block;
            width: 290px;
            height: 45px;
            border-radius: 5px;
            border: none;
            outline: none;
            padding-left: 20px;
            padding-top: 15px;
            font-family: "Museo Sans Cyrl 500";
            font-size: 18px;
            font-weight: 400; }
          .request-wrap form .input-box label {
            position: absolute;
            color: #302783;
            font-family: "Museo Sans Cyrl 500";
            font-size: 18px;
            font-weight: 400;
            transition: .5s;
            padding-left: 28px;
            line-height: 47px; }
          .request-wrap form .input-box.focus label {
            transform: translateY(-10px);
            font-size: 14px; }
        .request-wrap form input[type="checkbox"] {
          display: none; }
          .request-wrap form input[type="checkbox"] + label {
            position: relative;
            padding-left: 30px; }
            .request-wrap form input[type="checkbox"] + label:hover {
              cursor: pointer; }
            .request-wrap form input[type="checkbox"] + label::before {
              content: "";
              display: inline-block;
              position: absolute;
              height: 20px;
              width: 20px;
              border-radius: 3px;
              background-color: #fff;
              left: 3px;
              top: -4px; }
          .request-wrap form input[type="checkbox"] ~ span {
            display: inline-block;
            width: 268px;
            padding-left: 6px;
            padding-top: 2px;
            padding-bottom: 7px;
            color: #302783;
            font-family: "Museo Sans Cyrl 500";
            font-size: 13px;
            font-weight: 400; }
            .request-wrap form input[type="checkbox"] ~ span a {
              text-decoration: underline;
              color: #302783;
              font-family: "Museo Sans Cyrl 500";
              font-size: 13px;
              font-weight: 400; }
              .request-wrap form input[type="checkbox"] ~ span a:hover {
                text-decoration: none; }
          .request-wrap form input[type="checkbox"]:checked + label::before {
            background: url("icons/checked.png") no-repeat center #fff; }
        .request-wrap form input[type="submit"] {
          max-width: 297px;
          height: 45px;
          border-radius: 5px;
          border: 2px solid #302783;
          margin-top: 17px;
          background-color: #ffe400;
          color: #302783;
          font-family: "Museo Sans Cyrl 500";
          font-size: 18px;
          font-weight: 400; }
          .request-wrap form input[type="submit"]:hover {
            background: #302783;
            color: #fff;
            cursor: pointer; }
  .seosection {
    margin-bottom: 40px;
    height: auto; }
    .seosection .seotext {
      height: 370px;
      font-family: "Museo Sans Cyrl 500";
      font-size: 16px;
      font-weight: 400;
      color: #302783;
      padding: 20px 15px 0 0;
      margin-bottom: 30px; }
      .seosection .seotext h1 {
        font-family: "Museo Sans Cyrl 700";
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px; }
      .seosection .seotext p {
        font-family: "Museo Sans Cyrl 500";
        line-height: 24px;
        margin-bottom: 15px; }
    .seosection .seowindow {
      background: url(images/window.png) no-repeat center;
      background-size: cover;
      height: 246px;
      margin: 0 auto; }
  .footer {
    grid-template-columns: 100%;
    grid-row-gap: 15px;
    padding-top: 25px; }
    .footer h3 {
      margin-bottom: 7px; }
    .footer .made-by {
      grid-column: 1/2; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
